<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Вход</title>

</head>
<body>

<header th:insert="components/header :: navigationPanel">
</header>

<main>
    <h2>Вход</h2>

    <form method="post" th:action="@{/auth/login}">
        <input type="text" name="username" />
        <input type="password" name="password" />
        <button type="submit">Ок</button>
    </form>

</main>

</body>
</html>
