<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Добавление палаты</title>

</head>
<body>

<header th:insert="components/header :: navigationPanel">
</header>

<main>
    <h2>Новая палата</h2>
    <form method="post" action="/wards/add">
        <input type="text" name="name" placeholder="Название палаты" />
        <input type="number" name="maxCount" placeholder="Вместимость" />
        <button type="submit">Готово</button>
    </form>

</main>

</body>
</html>
