<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Пациенты</title>

</head>
<body>

<header th:insert="components/header :: navigationPanel">
</header>

<main>
    <h2>Пациенты</h2>

    <p><a href="/people/add">Добавить пациента</a></p>

    <div th:insert="components/search-form :: people-search-form">
    </div>

    <h3 th:text="${message}"></h3>
    <div th:unless="${people.empty}" th:insert="components/list :: people-list"></div>

</main>

</body>
</html>
