<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Добавление пациента</title>

</head>
<body>

<header th:insert="components/header :: navigationPanel">
</header>

<main>
    <h2>Новый пациент</h2>
    <form method="post" action="/people/add">
        <input type="text" name="fullName.lastName" placeholder="Фамилия" />
        <input type="text" name="fullName.firstName" placeholder="Имя" />
        <input type="text" name="fullName.fatherName" placeholder="Отчество" />
        <input type="number" name="wardId" placeholder="Id палаты" />
        <input type="number" name="diagnosisId" placeholder="Id диагноза" />
        <button type="submit">Готово</button>
    </form>

</main>

</body>
</html>
